* {
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
  font-family: 'Arial';
}

.header {
  display: block;
  padding-top: 42vh;
  padding-bottom: 45vh;
  text-align: center;
  color: #926239;
  background-image: url(../images/beach.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 50px;
}

.paragraph {
  font-size: 20px;
  margin-bottom: 20px;
}

.bottom {
  display: inline-block;
  font-size: 15px;
  text-transform: capitalize;
  border: 1px solid;
  width: 120px;
  height: 50px;
  padding: 15px;
  border-radius: 10%;
}

section {
  text-align: center;
  font-size: 30px;
  /* margin: 40px;*/
}

.brown_border {
  background-color: #926239;
  color: white;
  padding: 20px;
  margin: 0;
  font-size: large;
}

.white_border {
  font-size: large;
  color: #926239;
  padding: 20px;
  background-color: white;
}

article {
  width: 100vw;
}

.inline-block {
  display: inline-block;
  width: 33%;
  height: 100px;
}