* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.heading {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.container {
  /* 
    display: flex - перетворює елемент на флекс-контейнер
  */
  display: flex;

  /* 
    flex-direction - змінює напрямок головної осі флек-контейнера

    row - зліва направо (за замовченням)
    column - зверху вниз
    row-reverse - зправа наліво
    column-reverse - знизу вверх
  */
  flex-direction: column-reverse;

  border: 5px solid orangered;
}

.flex-item {
  border: 3px solid black;
  font-size: 30px;
  padding: 15px;
  background-color: dodgerblue;
  color: white;
}