* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.heading {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.container {
  height: 600px;
  /* 
    display: flex - перетворює елемент на флекс-контейнер
  */
  display: flex;

  /* 
    flex-direction - змінює напрямок головної осі флек-контейнера

    row - зліва направо (за замовченням)
    column - зверху вниз
    row-reverse - зправа наліво
    column-reverse - знизу вверх
  */
  flex-direction: row;

  /* 
    justify-content - керує розміщенням елементу вздовж головної вісі

    flex-start - розміщує флекс-дітей від початку осі до її кінця
    flex-end - розміщує флекс-дітей від кінця осі до її почтаку
    center - розміщує флекс-дітей по центру головної осі
    space-evenly - порівну розділяє вільний простір вздовж головної осі між усіма елементами і стінками контейнеру (х до стінок та між елементами)
    space-around - кожен елемент штовхається зліва та зправа на однакову відстань від інших елементів ( x до стінок та 2х між елементами)
    space-between - елементи відштовхуються один від одного, але не від стінок контейнера (х тільки між елементами)
  */
  justify-content: space-between;

  border: 5px solid orangered;
}

.flex-item {
  border: 3px solid black;
  font-size: 30px;
  padding: 15px;
  background-color: dodgerblue;
  color: white;
}