.grid-container {
  /* активація грідів */
  display: grid;
  min-height: 90px;
  /* 
    вказує розміри та кількість колонок у гріді
  */
  grid-template-columns: 200px 400px 150px;
  /* 
    вказує розміри та кількість рядків у гріді
  */
  grid-template-rows: 500px 200px;
  /* 
    скорочення від grid-template-rows та grid-template-columns
  */
  /* 
    особливі одиниці виміру
      1fr - коефіцієнт, працює схоже на flex-grow з вільним простором
      auto - від'єдає всі вільне місце по ширині / висоті якщо немає фракції
  */
  grid-template: 1fr 200px / 1fr 3fr 1fr;
}

.grid-child {
  border: 4px solid black;
  padding: 20px;
}