/* 
  селектори, пов'язані з атрибутами
*/

/* 
  Селектор, який працює для всіх елементів з атрибутом title
*/
[title] {
  background-color: aquamarine;
}

/* 
  Селектор, який працює для усіх елементів з атрибутом title з значенням Head title
*/
[title="Head title"] {
  background-color: brown;
}

/* 
  Селектор, який працює для усіх елементів з атрибутом title зі значенням, яке розпочинається зі слова Paragraph
*/
[title^="Paraghraph"] {
  border: 3px solid red;
}

/* 
  Селектор, який працює для усіх елементів з атрибутом title зі значенням, всередині якого є слово planet
*/
[title~="planet"] {
  width: 200px;
  height: 200px;
}



/* 
  Комбінатор кома
  Одночасно застосовує правило для кількох селекторів, розділених комами
*/
h1, 
h2 {
  text-align: right;
}

/* 
  Комбінатор дитячого елементу (A>B)
  Застосовує правило для селектору В, якщо він напряму сидить у елемнті з селектором А
*/
article>p {
  color: red;
}

/* 
  Комбінатор елементу - нащадка (A B)
  Застосовує правило для селектору В, якщо він сидить на будь-якому рівні складеності у елементі з селетором А
*/
.article p {
  font-style: italic;
}

/* 
  Комбінатор прямих сусідів (A+B)
  Застосовує правило для селектору В, якщо він сидить напряму за елементом з селектором А на одному рівні вкладеності
*/
h2+p {
  padding: 20px;
}

/* 
  Комбінатор всіх сусідів (А~B)
  Застосовує правило для селектору В, якщо він сидить за елементом з селектором А на одному рівні вкладеності
*/
h2 ~ p {
  border: lime;
}
/* .nav > h2 + ul {} */



/* 
  CSS змінні
*/

body {
  /* застосування CSS змінних */
  color: var(--text-color);
}



/* 
  Псевдокласи
  :root = html
  специфічність - 10
*/

/* html, */
:root {

  /* 
    --назва-змінної: значення_css-властивості;
  */
  --text-color: blue;
  --big-padding: 40px;
}

.square-img {
  --size: 700px;
  width: var(--size);
  height: var(--size);
}

.link {
  text-align: center;
  display: inline-block;
  color: blueviolet;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid black;
  width:  120px;
  background: lightcoral;
}

/* 
  Псевдоклас not(X)
  X - селектор, для якого стилі, які будуть куказані в правилі НЕ мають бути застосовані
*/
.link:not(button, div, ul>li, a) {
  font-style: italic;
}

/* 
  :link - стилізація посилань, на які користувач не переходив
*/
.link:link {
  /* text-decoration: underline solid; */
}

/* 
  :visited - стилізація посилань, на які користувач вже переходив
*/
.link:visited {
  text-decoration: none;
  color: green;
  background-color: blue;
}

/* 
  :hover - особливо стилізує елемент, якщо користувач навів на нього мишею
*/
.article:hover {
  background-color: blue;
  color: white;
}

.link:hover {
  background-color: white;
  color: blue;
}

/* 
  :active - особливо стилізує елемент, якщо користувач активував його (затиснув мишу)
*/
.link:active {
  color: red;
  border-color: lime;
}

/* 
  :focus - особливо стилізує елемент, якщо користувач рухається по сайту за допопмогою клавіатури (на ньому є фокус)
*/
.link:focus {
  border-color: aqua;
}

.article:focus {
  border-color: yellow;
}

.li {
  max-width: 250px;
  padding: 10px 15px;
  background-color: lightseagreen;
  color: white;
  text-align: center;
}

/* 
  :first-child - додає особливі стилі до елементу, якщо той є першою дитиною батьківського елементу
*/
.li:first-child,
.list>:first-child {
  color: yellow;
  font-weight: bold;
}

/* 
  :last-child - додає особливі стилі до елементу, якщо той є останньою дитиною батьківського елементу
*/
.li:last-child,
.list>:last-child {
  color: pink;
  background-color: blue;
}

/* 

*/
