/* 
  селектори, пов'язані з атрибутами
*/

/* 
  Селектор, який працює для всіх елементів з атрибутом title
*/
[title] {
  background-color: aquamarine;
}

/* 
  Селектор, який працює для усіх елементів з атрибутом title з значенням Head title
*/
[title="Head title"] {
  background-color: brown;
}

/* 
  Селектор, який працює для усіх елементів з атрибутом title зі значенням, яке розпочинається зі слова Paragraph
*/
[title^="Paraghraph"] {
  border: 3px solid red;
}

/* 
  Селектор, який працює для усіх елементів з атрибутом title зі значенням, всередині якого є слово planet
*/
[title~="planet"] {
  width: 200px;
  height: 200px;
}



/* 
  Комбінатор кома
  Одночасно застосовує правило для кількох селекторів, розділених комами
*/
h1, 
h2 {
  text-align: right;
}

/* 
  Комбінатор дитячого елементу (A>B)
  Застосовує правило для селектору В, якщо він напряму сидить у елемнті з селектором А
*/
article>p {
  color: red;
}

/* 
  Комбінатор елементу - нащадка (A B)
  Застосовує правило для селектору В, якщо він сидить на будь-якому рівні складеності у елементі з селетором А
*/
.article p {
  font-style: italic;
}

/* 
  Комбінатор прямих сусідів (A+B)
  Застосовує правило для селектору В, якщо він сидить напряму за елементом з селектором А на одному рівні вкладеності
*/
h2+p {
  padding: 20px;
}

/* 
  Комбінатор всіх сусідів (А~B)
  Застосовує правило для селектору В, якщо він сидить за елементом з селектором А на одному рівні вкладеності
*/
h2 ~ p {
  border: lime;
}
/* .nav > h2 + ul {} */



/* 
  CSS змінні
*/

body {
  /* застосування CSS змінних */
  color: var(--text-color);
}

/* 
  Псевдокласи
  :root = html
  специфічність - 10
*/

html,
:root {

  /* 
    --назва-змінної: значення_css-властивості;
  */
  --text-color: blue;
  --big-padding: 40px;
}

.square-img {
  --size: 700px;
  width: var(--size);
  height: var(--size);
}