* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.article {
  display: inline-block;
  width: 600px;
  padding: 20px;
  border: 5px solid red;
  border-radius: 15px;
  margin-bottom: 10px;
}

.article-heading {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.article-text {
  text-align: justify;
  margin-bottom: 8px;
}

.ul {
  padding-left: 20px;
}

/* 
  ::first-letter - особливо стилізує першу літеру блочного елементу, якщо перед ним немає іншого елементу (картинки, таблиці і т.д.)
*/
.article-text::first-letter {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: lime;
  text-transform: capitalize;
}

.li-item::first-letter {
  color: blue;
}

/* 
  ::first-line - особливо стилізує перший рядок елементу
*/
.article-text::first-line {
  background-color: aqua;
}

/* 
  ::selection - особливі стилі для виділеного елементу
*/
.article-text::selection {
  background-color: rgb(212, 20, 20);
}


/* 
  ::before - візуальний псевдоелемент встановлюється першим нащадком у селектора
  за замовчанням інлайновий 
  без content ::before не відобразиться
*/
.article-heading::before,
.article-heading::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}


.article-heading::before {
  background-color: brown;
  left: 0;
}
/* ::after - візуальний псевдоелемент встановлюється останнім нащадком у селектора
  за замовчанням інлайновий 
  без content ::after не відобразиться */
.article-heading::after {
  background-color: lightblue;
  right: 0;
}
