* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.section {
  width: 300px;
  height: 300px;
  border: 5px solid black;
  margin: 20px auto;
  background-color: yellow;
  padding: 16px;

  transition: transform 0.3s linear;
}

.section-heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: bold;
}

.translate:hover {
  /* 
    translate - зсуває елемент по осі X та Y
    translateX() - зсуває елемент по осі X
    translateY() - зсуває елемент по осі Y
  */
  transform: translate(50px, 100px);
}

.container {
  position: relative;
  width: 600px;
  height: 600px;
  border: 5px solid green;
}

.translate-center {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.scale:hover {
  /* 
    scale(x, y) - керує масштабуванням елемента
    вказуємо коефіцієнти, числа більше 1 -більшуєть по осу
    менше одного - звужують
    негативні значення - перегортають елемент по вказаній осі
  */
  /* transform: scale(-1,-1); */
  transform: scaleX(2) scaleY(-1)
}

.rotate:hover {
  /* 
    rotate - повертає елемент на вказане значення
    xdeg - обертає на вказану кількість градусів
    xrad - обертає на вказану кількість радіанів (~50градусів)
    xturn - обертає на вказану кількість обертів
  */
  transform: rotate(2turn);
}